@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #94cdb7;
    --primary-color-dark: #c7c3c2;
    --footer-color: #5f4c47;
    --text-brown: #5f4c47;
    --text-light: #c7c3c2;
    --text-str: #746c6a;
    --extra-light: #fbf7f6;
    --white: #ffffff;
    --brown: #5f4c47;
    --mint: #94cdb7;
    --cream: #F4F3E6;
    --max-width: 1200px;
    --header-font: "Merriweather", serif;
  }

  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section_header{
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-brown);
    text-align: center;
  }
  
  .section_description {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--brown);
    text-align: center;
  }
  .btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--brown);
    background-color: var(--primary-color);
    transition: 0.3s;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: var(--primary-color-dark);
  }
  
  .logo i{
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--white);
  }
  .logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--white);
  }
  
  .logo span {
    color: var(--white);
  }
  
  img {
    display: flex;
    width: 100%;
  }
  
  a {
    text-decoration: none;
    transition: 0.3s;
  }
  
  ul {
    list-style: none;
  }
  
  html,
  body {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--cream);
  }
  .nav_bg{
    background-color: var(--brown);
    
  }
  
  nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;
  }
  
  .nav_main {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--brown);
    border-bottom: 1px solid var(--text-brown);
  }
  
  .nav_menu_btn {
    font-size: 1.5rem;
    color: var(--extra-light);
    cursor: pointer;
  }
  
  .nav_links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--brown);
    border-bottom: 1px solid var(--text-light);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
  }
  
  .nav_links.open {
    transform: translateY(0);
  }
  
  .nav_links a {
    font-family: var(--header-font);
    font-weight: 600;
    white-space: nowrap;
    color: var(--extra-light);
  }
  
  .nav_links a:hover {
    color: var(--mint);
  }
  
  /*Home Container styling */
  .header {
    padding-block: 6rem;
    background-image: url("image/header1.png");
    background-position: calc(50% + 0px) calc(10% + 30px);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .home_container span {
    color: var(--white);
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 6rem;
    
  }
  
  .home_container p {
    margin-bottom: 5rem;
    font-size: 2rem;
    font-family: var(--header-font);
    color: var(--white);
  }
  
  .home_container form {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .home_container .input_fields {
    flex: 1 1 200px;
    display: flex;
    align-items: center;
    background-color: var(--white);
  }
  
  .home_container .input_fields span {
    padding: 6px 10px;
    font-size: 1.25rem;
    color: var(--white);
    background-color: var(--text-brown);
  }
  
  .home_container input {
    width: 100%;
    padding-inline: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--text-brown);
  }
  
  .home_container .btn {
    width: 100%;
  }

  .deals_grid {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
  }
  
  .deals_card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  }
  
  .deals_card_details {
    padding: 1rem;
  }
  
  .deals_card_details h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-brown);
  }
  
  .deals_card_details p {
    margin-bottom: 2rem;
    color: var(--text-str);
    line-height: 1.5rem;
  }
  
  .deals_card_details>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  

  .footer {
    background-color: var(--footer-color);
  }
  
  .footer_container{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 4rem 2rem;
  }
  
  .footer_col .section_description{
    margin-block: 2rem;
  }
  
  .footer_col h4{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }
  
  .footer_links{
    list-style: none;
    display: grid;
    gap: 1rem;
  }
  
  .footer_links a{
    color: var(--mint);
    transition: 0.3s;
  }
  
  .footer_col p{
    color: var(--mint);
    transition: 0.3s;
  }
  
  .footer_socials{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .footer_bar{
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
  }
  
  .footer_socials li a{
    color: var(--mint);
    font-size: 20px;
  }
  
  .footer_socials li a:hover{
    color: #c7c3c2;
  }
  /* Responsive design adjustments for different screen widths using media queries */
  
  @media (width >  540px) {
    .destination_grid{
      grid-template-columns: repeat(2,1fr);
    }
    .deals_grid{
      grid-template-columns: repeat(2,1fr);
    }
    .footer_container{
      grid-template-columns: repeat(2,1fr);
    }
  }
  
  @media (width >  786px){
    nav{
      position: static;
      padding: 2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
    .nav_main{
      padding: 0;
      background-color: transparent;
      border: none;
    }
    .nav_menu_btn{
      display: none;
    }
    .nav_links{
      position: static;
      padding: 0;
      flex-direction: row;
      justify-content: flex-end;
      gap: 3rem;
      background-color: transparent;
      transform: none;
      border: none;
    }
    .destination_grid{
      grid-template-columns: repeat(3,1fr);
  
    }
    .deals_grid{
      grid-template-columns: repeat(4,1fr);
    }
  
    .footer_container{
      grid-template-columns: repeat(2,1fr);
      
    }
  }
  
  @media (width >  1024px){
    .destination_grid{
      gap: 2rem;
    }
    .deals_grid{
      gap: 2rem;
    }
    
  }
